development:
  REDIS_URL: "tcp://127.0.0.1:6379/1"
  HEROKU_OAUTH: ''
  HEROKU_APP_NAME: ''
  HTTP_AUTH_USER: ''
  HTTP_AUTH_PASS: ''

test:
  REDIS_URL: "tcp://127.0.0.1:6379/2"
  HEROKU_OAUTH: ''
  HEROKU_APP_NAME: ''
  HTTP_AUTH_USER: ''
  HTTP_AUTH_PASS: ''
